.main_landing_container {
  background-color: #f0f2f5;
  height: 100vh;
  display: grid;
  grid-template-columns: [x0] 20% [x1] 40% [x2] 10% [x3] 30% [x4];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2];
  align-items: center;
  justify-content: center;
}
.about_landing {
  grid-column: x1 / x2;
  grid-row: y0 / y2;
}

.about_landing h1 {
  font-size: 50px;
  font-weight: 800;
  color: #d42232;
}

.login_landing {
  grid-column: x3 / x4;
  grid-row: y0 / y2;
  background-color: white;
  width: 95%;
  border-radius: 10px;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  right: 5vw;
}

@media (max-width: 750px) {
  .main_landing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
  }
  .about_landing > h1 {
    font-size: 30px;
    font-weight: 800;
    color: #d42232;
    text-align: center;
  }
  .about_landing > p {
    font-size: 15px;
    text-align: center;
  }
  .login_landing {
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    background-color: white;
    width: 320px;
    border-radius: 20px;
    margin-top: 3vh;
    position: initial;
  }
}

@media (max-width: 400px) {
  .about_landing {
    width: 85vw;
  }
  .login_landing {
    width: 85vw;
  }
}
