.divnav {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 65px;
    width: 100vw;
}



.toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leftbaricon {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.divtitle {
    display: flex;
    flex-direction: row;
}

.workapplogo {
    margin-left: 1em;
    color: #ccdbfd;
}

.workapplogo:hover {
    color: #48bfe3;
    text-decoration: none;
}

.rigthicons {
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin-right: 2vw;
}

.avatar {
    height: 100%;
}

.logolg {
    color: white;
}

.logoSm {
    display: block;
}


.input {
    color: white;
}

.icons {
    cursor: pointer;
    align-items: center;
}
.campana {
    color: white;
}

.leftbar {
    display: flex;
    width: 12vw;
    position: fixed;
    z-index: 3;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
}

.item {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    transition: all .3s;
    cursor: pointer;
}

.item:hover {
    background-color: #ccc;
}

.notbox {
    position: absolute;
    top: 65px;
    right: 1.5em;
    background-color: #a2d2ff;
    border: 1.5px solid #023e7d;
    padding: 10px;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 2px 2px 2px rgba(30, 62, 112, 0.315);
}


@media (max-width: 750px) {
    .toolbar {
        width: 100vw;
    }
    .rigthicons {
        width: 8em;
    }
}

@media (max-width: 550px) {
    .workapplogo {
        display: none;
    }
    .rigthicons {
        width: 7em;
    }
}

