.filtros_main{
    background-color: #3f51b5;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
    width: 70vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    box-shadow: 0px 0px 5px #000000;
}

.div-fil{
    margin-left: 20%;
}

.priority{
    color: white;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.div-dist {
    display: flex;
    flex-direction: column;
}

.distan{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    width: 20vw;
}

.distan > span {
    position: relative;
    left: 9vw;
}

.distdisabled {
    color: rgb(143, 134, 134);
}

.rangedist {
    width: 20vw;
}

.options{
    color: black;
}

@media (max-width: 750px) {
    .filtros_main {
        width: 115%;
        margin-top: -80px;
    }
}

.div-oficio{
    margin-right: 20%;
}

.div-oficio input {
    height: 20px;
}

.checkbox {
    margin-right: 10px;
    height: 1vw;
    width: 1vw;
}